#video-compare-container {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
    padding-top: 42.3%;
    /* Adjust height based on the aspect ratio */
}

#video-compare-container > video {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

#video-clipper {
    width: 50%;
    /* Initialize with 50% width */
    position: absolute;
    top: 0;
    left: 0; /* Align with the left side of the container */
    height: 100%; /* Ensures it takes the full height of the container */
    overflow: hidden;
}

#video-clipper video {
    width: 200%; /* Ensures it covers the entire clipper when adjusted */
    position: absolute;
    top: 0;
    height: 100%;
}

#slider-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    /* Thicker line */
    background: white;
    z-index: 5;
    pointer-events: none;
    left: 50%;
    /* Initialize with the center of the container */
}

#left-arrow, #right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    /* Larger arrows */
    color: white;
    z-index: 6;
    pointer-events: none;
}

#left-arrow {
    left: calc(50% - 45px);
    /* Spaced farther from the line */
}

#right-arrow {
    right: calc(50% - 45px);
    /* Spaced farther from the line */
}